@model List<Professor>

<p class="lead">
    Confira abaixo a lista dos Professores:
</p>

@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}

@if (ViewData["MsgCerto"] != null)
{
    <div class="alert-success">
        @ViewData["MsgCerto"]
    </div>
}

@if (ViewData["MsgCsdt"] != null)
{
    <div class="alert-success">
        @ViewData["MsgCsdt"]
    </div>
}
@if (TempData["MsgSucesso"] != null)
{
    <div class="alert-success">
        @ViewData["MsgSucesso"]
    </div>
}

@if (TempData["MsgErroRemover"] != null)
{
    <div class="alert-success">
        @ViewData["MsgErroRemover"]
    </div>
}

@if (ViewData["ProfessorRemovido"] != null)
{
    <div class="alert-danger">
        @ViewData["ProfessorRemovido"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Código do Professor</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matéria</th>
            <th scope="col">CEP</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Professor professor in Model)
            {
                <tr>
                    <td> @professor.id</td>
                    <td> @professor.nome</td>
                    <td> @professor.idade</td>
                    <td> @professor.materia</td>
                    <td> @professor.cep</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-secondary" role="button" asp-controller="Professor" asp-action="BuscarEndereco" asp-route-cep="@professor.cep">Endereco</a>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-danger" role="button" asp-controller="Professor" asp-action="RemoverProfessor" asp-route-id="@professor.id">Remover</a>
                        </div>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Professor" asp-action="EditarProfessor" asp-route-id="@professor.id">Editar</a>
                        </div>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<div class="d-grid gap-2 d-md-block">
    <a type="button" class="btn btn-success" asp-controller="Professor" asp-action="Adicionar"> Adicionar Professor</a>
</div>

<figure class="text-end">
    <blockquote class="blockquote">
        <p>"Transmitir conhecimento não é apenas falar o que sabe, mas inspirar novas atitudes!"</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Juliano Kimura.
    </figcaption>
</figure>
