@model List<Aluno>

@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}

@if (ViewData["MsgCerto"] != null)
{
    <div class="alert-success">
        @ViewData["MsgCerto"]
    </div>
}

@if (ViewData["MsgCsdt"] != null)
{
    <div class="alert-success">
        @ViewData["MsgCsdt"]
    </div>
}
@if (TempData["MsgSucesso"] != null)
{
    <div class="alert-success">
        @ViewData["MsgSucesso"]
    </div>
}

@if (TempData["MsgErroRemover"] != null)
{
    <div class="alert-success">
        @ViewData["MsgErroRemover"]
    </div>
}

@if (ViewData["AlunoRemovido"] != null)
{
    <div class="alert-danger">
        @ViewData["AlunoRemovido"]
    </div>
}

<p class="lead">
    Confira abaixo a lista dos Alunos:
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Código do Aluno</th>
            <th scope="col">Nome</th>
            <th scope="col">Estilo Musical</th>
            <th scope="col">Idade</th>
            <th scope="col">País</th>
            <th scope="col">CEP</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr>
                    <td> @aluno.id</td>
                    <td> @aluno.nome</td>
                    <td> @aluno.estiloMusical</td>
                    <td> @aluno.idade</td>
                    <td> @aluno.pais</td>
                    <td> @aluno.cep</td>
                    <td>
                       <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-secondary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.cep">Endereco</a>
                       </div>
                    </td>
                    <td>
                       <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-danger" role="button" asp-controller="Aluno" asp-action="RemoverAluno" asp-route-id="@aluno.id">Remover</a>
                       </div>
                    </td>
                    <td>
                       <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="EditarAluno" asp-route-id="@aluno.id">Editar</a>
                       </div>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<div class="d-grid gap-2 d-md-block">
    <a type="button" class="btn btn-success" asp-controller="Aluno" asp-action="Adicionar"> Adicionar Aluno</a> 
</div>

                       @*41min*@